@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300&family=Raleway:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* universal which is used in more than one element as a class */
.universal {
  width: 80vw;
  height: 5vh;
  margin-bottom: 5vh;
}
.fontweightandsize {
  font-weight: 800;
  font-size: 20px;
  font-family: "Comforter", cursive;
}

/* enter data inside an input box */
.fontweightandsize2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
  padding-left: 10px;
}

/* <<<<<-------------------------------------------->>>>> */
body {
  background-color: #e5e8e8;
  margin-bottom: 20vh;
}
hr {
  background-color: black;
  height: 3px;
}
.dustbin {
  color: rgb(9, 61, 104);
  cursor: pointer;
}
/* --------------- */
.tablerowdata {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.container {
  margin: 20px 30px 0px 30px;
  display: grid;
  justify-content: center;
}
.fontsizechange {
  font-size: 75px;
  margin-left: 15vw;
  margin-bottom: 5vh;
  font-family: "Comforter", cursive;
}
th {
  background: steelblue;
}
#buttontoclick:hover {
  background-color:steelblue;
  list-style: none;
  text-decoration: none;
  border: 0px white solid;
  cursor: pointer;
}
